@model Appointment

<h1>Create Appointment</h1>

<hr />

@{
    ViewData["FormAction"] = "Create";
    ViewData["SubmitButtonText"] = "Create";
    ViewData["IsReadOnly"] = false;
}

@Html.Partial("_AppointmentForm", Model)
