@model Appointment

<h1>Delete Appointment</h1>

<hr />

@{
    ViewData["FormAction"] = "Delete";
    ViewData["SubmitButtonText"] = "Delete";
    ViewData["IsReadOnly"] = true;
}

@Html.Partial("_AppointmentForm", Model)


