@model Appointment

<h1>Edit Appointment</h1>

<hr />

@{
    ViewData["FormAction"] = "Edit";
    ViewData["SubmitButtonText"] = "Save Changes";
}

@Html.Partial("_AppointmentForm", Model)

@section Scripts{

    <partial name="_ValidationScriptsPartial" />

}