@model IEnumerable<Appointment>

<h1>Index</h1>

<p>
    <a asp-action="Create">Schedule new @sharedLocalizer["Appointment"] XXXXX</a>
</p>

@(
Html.Grid(Model)
        .Build(columns =>
        {
            columns.Add(ap => ap.AppoitmentNumber);
            columns.Add(ap => ap.Date);
            columns.Add(ap => ap.Time);
            columns.Add(ap => ap.Client.Name).Titled("Client");
            columns.Add(ap => ap.Staff.Name).Titled("Staff");
            columns.Add(ap => ap.IsDone);

            columns.Add(ap => Html.ActionLink("Edit", "Edit", new { id = ap.ID }, new { @class = "btn btn-primary" }));
            columns.Add(ap => Html.ActionLink("Delete", "Delete", new { id = ap.ID }, new { @class = "btn btn-primary" }));
            columns.Add(ap => Html.ActionLink("Details", "Details", new { id = ap.ID }, new { @class = "btn btn-primary" }));
        })
        .Filterable()
        .Sortable()
        .Empty("No Data")
)